<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}My Blog{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-gray-800 text-gray-50 flex flex-col min-h-screen">
        <nav class="bg-gray-900">
            <div class="mx-auto max-w-6xl px-2 sm:px-6 lg:px-8">
                <div class="relative flex h-16 items-center justify-between">
                    <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                        <!-- Mobile menu button-->
                        <button type="button" class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                            <span class="sr-only">Open main menu</span>
                            <!--
                              Icon when menu is closed.

                              Menu open: "hidden", Menu closed: "block"
                            -->
                            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                            </svg>
                            <!--
                              Icon when menu is open.

                              Menu open: "block", Menu closed: "hidden"
                            -->
                            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>
                    <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                        <div class="flex flex-shrink-0 items-center">
                            <img class="block h-8 w-auto lg:hidden" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="My Blog">
                            <img class="hidden h-8 w-auto lg:block" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="My Blog">
                        </div>
                        <div class="hidden sm:ml-6 sm:block">
                            <div class="flex space-x-4">
                                <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                                <a href="{{url('home_index')}}"
                                   class="{{ app.current_route == 'home_index' ? 'bg-gray-700 text-white' : 'text-gray-300'}}
                                   hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-base font-medium">
                                    Home
                                </a>
                                <a href="{{url('article_index')}}"
                                   class="{{ app.current_route == 'article_index' or app.current_route == 'article_show' ? 'bg-gray-700 text-white' : 'text-gray-300'}}
                                   hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-base font-medium">
                                    Articles
                                </a>
                                {% if app.user %}
                                <a href="{{url('admin_article_index')}}"
                                   class="{{ app.current_route == 'admin_article_index' ? 'bg-gray-700 text-white' : 'text-gray-300'}}
                                   hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-base font-medium">
                                    Admin
                                </a>
                                <a href="{{url('app_logout')}}"
                                   class="text-orange-300 hover:bg-gray-700 hover:text-orange-200 rounded-md px-3 py-2 text-base font-medium">
                                    Logout
                                </a>
                                {% else %}
                                <a href="{{url('app_login')}}"
                                   class="{{ app.current_route == 'app_login' ? 'bg-gray-700 text-white' : 'text-gray-300'}}
                                   hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-base font-medium">
                                    Login
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Mobile menu, show/hide based on menu state. -->
            <div class="sm:hidden" id="mobile-menu">
                <div class="space-y-1 px-2 pt-2 pb-3">
                    <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                    <a href="{{url('home_index')}}"
                       class="{{ app.current_route == 'home_index' ? 'bg-gray-700 text-white' : 'text-gray-300'}}
                                   block rounded-md px-3 py-2 text-base font-medium">
                        Home
                    </a>
                    <a href="{{url('article_index')}}"
                       class="{{ app.current_route == 'article_index' or app.current_route == 'article_show' ? 'bg-gray-700 text-white' : 'text-gray-300'}}
                                   block rounded-md px-3 py-2 text-base font-medium">
                        Articles
                    </a>
                    <a href="{{url('admin_article_index')}}"
                       class="{{ app.current_route == 'admin_article_index' ? 'bg-gray-700 text-white' : 'text-gray-300'}}
                                   block rounded-md px-3 py-2 text-base font-medium">
                        Admin
                    </a>
                </div>
            </div>
        </nav>
        <main class="mt-6 mb-6 flex-1 container mx-auto max-w-6xl px-2 sm:px-6 lg:px-8">
            {% block body %}{% endblock %}
        </main>
        <footer class="bg-gray-900 p-4">
            <p class="text-center">&copy; 2023</p>
        </footer>
    </body>
</html>
